<h2>Sign up</h2>

<div role="tabpanel">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Athlete Sign Up</a>
    </li>
    <li role="presentation">
      <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Organization Sign Up</a>
    </li>
  </ul>

  <div class="tab-content">
   <div role="tabpanel" class="tab-pane active" id="tab1">
    <%= render 'devise/shared/athlete' %>
  </div>

  <div role="tabpanel" class="tab-pane" id="tab2">
    <%= render 'devise/shared/company' %>
  </div>

</div>
</div>

<%= render "devise/shared/links" %>
<div class="container">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
Log In
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= render "devise/shared/new_session"%>
      </div>
     
    </div>
  </div>
</div>
</div>
