<h1>Editing application</h1>

<%= render 'form' %>

<%= link_to 'Show', sponsorship_application_path(@application.sponsorship_id, @application.id) %> |
<%= link_to 'Back', sponsorship_applications_path(@sponsorship.id) %>
